<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.hrm.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CourseMap" type="Course">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="users" property="users"/>
        <result column="course_type_id" property="courseTypeId"/>
        <result column="grade" property="grade"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenantName" property="tenantName"/>
        <result column="user_id" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <!--关联课程类型-->
        <association property="courseType" javaType="CourseType">
            <id column="cyid" property="id"/>
            <result column="cyname" property="name"/>
        </association>
        <!--关联课程详情detail-->
        <association property="detail" javaType="CourseDetail">
            <id column="course_id" property="courseId"/>
            <result column="description" property="description"/>
            <result column="intro" property="intro"/>
        </association>
    </resultMap>
    <sql id="whereSql">
        <where>
            <if test="query.keyword!=null and query.keyword!=''">
                and cc.name like concat('%',#{query.keyword},'%') or cy.name like concat('%',#{query.keyword},'%')
            </if>
        </where>
    </sql>
    <!--    List<Course> loadListPage(Page<Course> page, CourseQuery query);-->
    <select id="loadListPage" parameterType="CourseQuery" resultMap="CourseMap">
        select cc.*,cy.id cyid,cy.name cyname,cd.* from t_course cc
        left join t_course_type cy on cc.course_type_id = cy.id
        left join t_course_detail cd on cc.id = cd.course_id

        <include refid="whereSql"/>
    </select>
<!--    void batchOnlineCourse(List<Long> idList);-->
    <update id="batchOnlineCourse" parameterType="list">
        update t_course set status = 1,start_time = now() where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
<!--    void batchOfflineCourse(List<Long> idList);-->
    <update id="batchOfflineCourse" parameterType="list">
        update t_course set status = 0,end_time = now() where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>
